spawn-at-startup "noctalia"

window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

// For laptop lids
switch-events {
    lid-close { spawn "noctalia" "msg" "session" "lock-and-suspend"; }
}

//===BLUR===//
// /* Apps: blur them all without xray for a better look */
window-rule {
  opacity 0.90
  background-effect {
    blur true
    xray false
  }
}

blur {
  passes 3        // more passes = stronger blur (default: 3)
  offset 3.5      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
  }
}

/* Enable blur on noctalia's window switcher and disable xray. */
layer-rule {
  match namespace="noctalia-window-switcher"
  background-effect {
    blur true
    xray false
  }
}
//========//

binds {
    // Core Noctalia binds
    Mod+Space { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+S { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+Comma { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+Alt+L {spawn-sh "qs -c noctalia-shell ipc call sessionMenu lockAndSuspend"; }
    Mod+SemiColon {spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }

    // Launcher related binds
    Mod+V {spawn-sh "qs -c noctalia-shell ipc call launcher clipboard";}
    Mod+Period {spawn-sh "qs -c noctalia-shell ipc call launcher emoji";}

    // Notification
    Mod+N {spawn-sh "qs -c noctalia-shell ipc call notifications toggleHistory";}
    Mod+Shift+N {spawn-sh "qs -c noctalia-shell ipc call notifications toggleDND";}
    
    // Toggle bar & widgets
    Ctrl+Super+R {spawn-sh "killall ags agsv1 gjs ydotool qs quickshell; qs -c noctalia-shell &";}


    // Audio & Brightness
    XF86AudioRaiseVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86MonBrightnessUp { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
}
